@mixin text-shadow(){
    text-shadow: 13px 8px 10px rgba(150, 150, 150, 1);
}
@mixin box-shadow() {
-webkit-box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.75);
}   