
body, html {
    height: 100%;
    position: relative;
  }
 .bgImage {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;   
}

.bgImgleft {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position:3px;
    background-size: cover;  
}
.marioImg {
    position: absolute;
    height: 15%;
    top: 72%;
    right:48%;
}

