.bg-color{
    background-color: rgb(41, 62,79);
    
}
.text-white{
    color: white;
}
.button-nav{
    border-color:  rgb(41, 62,79);
    text-align: center;
    
}
.headerh1{
    width: 100%;
    font-size: 2em;
  font-weight: 600;
}
