hr.style-eight {
 
    color:white;
    border: 2px solid;
     text-align: center;
     width:60%;
  } 
  .maincontainer{
      width: 100%;
      padding-top: 20px;
      text-align: center;
      padding-bottom: 20px;
  }
  .maincontainer div div img{
      width: 100%;
  }